.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-body {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.divider {
  height: 2px;
  background-color: #da0037;
}

.App-link {
  color: #61dafb;
}

html,
body {
  font-size: 14pt;
  background: #171717;
  color: #ededed;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  height: 100vh;
}

#root {
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
